<div class="AboutInformationBox">
    <div>
       <img src="/usericn.png" alt="User Icon" class="aboutusericnImage">

       <div class="AboutImageContainer">
          <a href="https://github.com/AueSip"> <img src="/GitHubImage512xicn.png" alt="github Icon" class="LinkImage"></img></a>
          <a href="https://ie.linkedin.com/in/scott-fowler-4ba0722b9"> <img src="/Linkedin512xicn.png" alt="linkedin Icon" class="LinkImage"></img></a>
          <a href="https://linktr.ee/auesipdev"> <img src="/Linktree512xicn.png" alt="linktree Icon" class="LinkImage"></img></a>
       </div>
    </div>
 </div>