<nav class ="navBar">
    <ul>
        <li class="navPieceimg">
            <a href="/home"><img class = "navImg" src="/homeicn.png"></a>
        </li>
        <li class="navPiece">
            <a href="/portfolios">Portfolios</a>
        </li>
        <li class="navPiece">
            <a href="/previousworks">Works</a>
        </li>
        <li class="navPiece">
            <a href="/about">About</a>
        </li>
        <li class="navPiece">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>

   
       
   
