<a href="https://www.youtube.com/@auesip"> <img src="/youtube512xicn.png" alt="youtube Icon" class="LinkImage"></img></a>
<a href="https://x.com/auesip"> <img src="/xLogo512xicn.png" alt="twitter Icon" class="LinkImage"></img></a>
<a href="https://bsky.app/profile/auesip.bsky.social"> <img src="/bluesky512xicn.png" alt="bluesky Icon" class="LinkImage"></img></a>
<a href="https://discord.gg/yHW8pgqDQs"> <img src="/discord512xicn.png" alt="discord Icon" class="LinkImage"></img></a>
<a href="https://auesip.itch.io/"> <img src="/itch512xicn.png" alt="itch Icon" class="LinkImage"></img></a>
<a href="https://steamcommunity.com/profiles/76561199775406650/"> <img src="/steam512xicn.png" alt="steam Icon" class="LinkImage"></img></a>