<%- include(`../partials/header`) -%>

   <%- include(`../partials/navigationbar`) -%>	


   <div class="mainContent">
      <div class="leftInformation">
         <div>
            <h1>Portfolio Site</h1>
         </div>
         <div>
            <h2>About</h2>
         </div>
      </div>   

      <div class="rightInformation">
         <div>
            <h2>About Me</h2>
         </div>
      </div>
   </div>   

    
<%- include(`../partials/footer`) -%>