<nav class ="navBar">
    <ul>
        <li class="navPiece">
            <a href="/"><h1>Scott Fowler</h1></a>
        </li>
        <li class="navPiece">
            <a href="/about"><img src="/abouticn.png"></a>
        </li>
        <li class="navPiece">
            <a href="/portfolio"><img src="/portfolioicn.png"></a>
        </li>
        <li class="navPiece">
            <a href="/contact"><img src="/contacticn.png"></a>
        </li>
        <li class="navPiece">
            <a href="/reviews">Reviews</a>
        </li>
    </ul>
</nav>

   
       
   
